src/ooga/parser/validators/xsdSchema/character.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Characters">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Character">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="Image" type="xs:string" />
                            <xs:element name="Controls">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Control" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Size">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="X" type="xs:unsignedByte" />
                                        <xs:element name="Y" type="xs:unsignedByte" />
                                        <xs:element name="Width" type="xs:unsignedByte" />
                                        <xs:element name="Height" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Interactions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Interaction" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>