src/ooga/parser/validators/xsdSchema/displayinfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Info">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CoverImage" type="xs:string" />
                <xs:element name="DescriptionImage" type="xs:string" />
                <xs:element name="Title" type="xs:string" />
                <xs:element name="Description" type="xs:string" />
                <xs:element name="Controls" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>