src/ooga/parser/validators/xsdSchema/level.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Level">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BackgroundImage" type="xs:string" />
                <xs:element maxOccurs="unbounded" name="Cell">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Object" type="xs:string" />
                            <xs:element name="X" type="xs:unsignedByte" />
                            <xs:element name="Y" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>